@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #ffffff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #057aff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #444857;
}

*::-webkit-scrollbar-thumb {
  background-color: #057aff;
}

.scroll::-webkit-scrollbar-track {
  background: #444857;
  border-radius: 0 6px 6px 0;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #057aff;
  border-radius: 6px 6px 6px 6px;
}
